
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300|Fira+Sans');


/* Global */
body, html {
	height: 100%;
	min-height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	display: flex;
	flex-direction: column;
}

a {
	color: #7c7c7c;
}

::selection {
  background: rgb(177, 176, 175);
}
::-moz-selection {
  background: rgb(177, 176, 175);
}

/* Body Container */
#body {
	margin: 0 auto;
	max-width: 1000px;
}

/* Header */
#header {
	background-image: url("../images/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
	min-height: 413px;
	display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
}

.headerContainer {
	padding: 0;
}

.headerContainer h1 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
	font-size: 2.5em;
	background: #19242a;
	padding: 0 1em 0 0.4em;
	display: inline;
}

.introduction {
    width: 100%;
}

.waves {
    text-align: center;
    padding: 0.8em;
}

.quote {
    font-family: 'Work Sans', serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.1em;
    margin: 0;
    padding: 1em 1em
}

.quote blockquote {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    letter-spacing: 0.02em;
    display: inline;
}

.quoteSmall {
	font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    text-align: right;
    padding: 0;
    margin: 0;
}

#content {
	width: 100%;
	background-color: #fff;
}

.subtitle {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #414141;
	text-align: center;
	padding: 1em 0 1em 0;
	margin: 0 auto;
	font-size: 1.9em;
	line-height: 1.5em;
    width: 70%;
}

.contentContainer {
	margin: 0;
    padding: 0 1.5em 2em 0;
	display: flex;
	flex-wrap: wrap;
}

.contentBlock {
	padding: 0;
	flex: 1 400px;
}

.contentBlock:first-child {
	padding-right: 2em;
}

.contentBlock:last-child {
	padding-left: 2em;
}

.contentBlock h2 {
	font-family: 'Fira Sans', sans-serif;
	text-transform: capitalize;
	font-weight: 900;
	color: #3F3631;
	font-size: 1.25em;
	border-bottom: 1px solid rgba(65, 65, 65);
	line-height: 20px;
	display: inline-block;
}

.contentBlock p {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: #414141;
	font-size: 1.1em;
	line-height: 1.6em;
    margin: 0;
    padding-bottom: 1em;
}

.contentBlock ol {
	font-size: 1.1em;
	line-height: 1.7em;
	counter-reset: li;
}

.contentBlock ol > li {
	list-style: none;
}

.contentBlock ol > li:before {
	display: inline-block;
	font-weight: bold;
	content: counter(li);
	counter-increment: li;
	text-align: left;
	text-indent: -1.5em;
}

#ideasContainer {
	background-image: url("../images/background.jpg");
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding: 4em 5.8em;
	margin: 0 auto;
}

.ideas h2 {
	font-family: 'Fira Sans', sans-serif;
	color: #e7e7e7;
	padding: 0 0;
	margin: 0;
	font-size: 2em;
	text-align: center;
}

.ideas p {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	color: #e7e7e7;
	margin: 0.8em 0;
	font-size: 1.2em;
	line-height: 1.6em;
	letter-spacing: 0.04em;
}

#mailingListContainer {
    width: 100%;
    background: #fff;
}

#mailingListContainer .mailingList {
	padding: 4em 4em;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.mailingList h2 {
	font-family: 'Fira Sans', sans-serif;
	color: #212121;
	padding: 0 0;
	margin: 0;
	font-size: 2em;
}

.mailingList p {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	color: #212121;
	margin: 0.8em 0;
	font-size: 1.2em;
	line-height: 1.6em;
}

.mailingList .submit {
	border: solid 1px #7c7c7c;
	padding: 0.5em 0.8em;
	background-color: #fff;
	text-decoration: none;
	padding: 0.7em 1.2em;
	font-size: 1.2rem;
}

.mailingList .submit:active {
	vertical-align: top;
	padding: 8px 13px 6px;
}


/* Footer */
#footer {
	background-image: url("../images/background.jpg");
	background-attachment: scroll;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 2em 2em;
	text-align: center;
}

#footer p {
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 1.1em;
}

#footer a {
	color: #d5d5d5;
}

.logoContainer {
	width: 250px;
	height: 65px;
	background-image: url("../images/idrc-logo.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    position: relative;
    margin-top: 0;
    resize: both;
    margin: 0 auto;
}

.logoContainer .logo-idrc {
	font-size: 0;
    width: 100%;
}


/* Ideas in Progress */
#ideasHeader {
	max-width: 1000px;
	margin: 0 auto;
	display: block;
	background-image: url("../images/background.jpg");
	background-attachment: scroll;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.ideasHeaderContainer {
	padding-top: 1.5em;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.ideasHeaderContainer h1 > a {
	font-family: 'Work Sans', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background: #19242a;
	display: inline;
	font-size: 1.8rem;
	text-decoration: none;
	padding: 0 1em 0 0.4em;
}

.ideasHeaderContainer h1 > a:hover {
	text-decoration: underline;
	cursor: hand;
}

.ideasContentContainer {
	width: 80%;
	padding: 1em;
}

.ideasContentBlock {
	padding: 0;
	margin: 0;
}

.ideasDate {
	font-family: 'Work Sans', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.ideasContentBlock h2 {
	font-family: 'Fira Sans', sans-serif;
	color: #212121;
	font-size: 1.7em;
	font-weight: 800;
}

.ideasContentBlock h3 {
	font-family: 'Fira Sans', sans-serif;
	border-bottom: 1px solid rgba(65, 65, 65);
	display: inline;
	font-weight: 400;
	color: #212121;
	font-size: 1.4em;
	line-height: 1.6em;
	margin-bottom: 0;
	margin-top: 1.3em;
}

.ideasContentBlock p {
	font-size: 1.2em;
	line-height: 1.6em;
}

.ideasContentBlock li {
	font-family: 'Work Sans', sans-serif;
	color: #212121;
	font-size: 1.2em;
	line-height: 1.7em;
}

.ideasContentBlock blockquote {
	font-size: 1em;
	line-height: 1.5em;
	font-style: italic;
}

img {
	max-width: 1000px;
	display: block;
}


/* Turn off parallax on smaller screens */
@media only screen and (max-device-width: 1366px) {

    body, html {
        background-attachment: scroll;
    }

}


/* For tablet screens and below */
@media (min-width: 801px) and (max-width: 1000px) {

	.contentBlock:first-child {
		padding-right: 2em;
		padding-left: 2em;
	}

	.contentBlock:last-child {
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media only screen and (min-width: 641px) and (max-width: 800px) {

	.headerContainer h1 {
		font-size: 2em;
		padding: 0 1em 0 0.4em;
	}

	.subtitle {
		font-size: 1.7em;
	}

	.contentBlock:first-child {
		padding-right: 2em;
		padding-left: 2em;
	}

	.contentBlock:last-child {
		padding-left: 2em;
		padding-right: 2em;
	}

	#ideasContainer {
		padding: 1.2em 1.5em;
	}

	.ideas h2 {
		font-size: 1.7em;
	}

	.ideas p {
		font-size: 1.2em;
	}

	.mailingList h2 {
		font-size: 1.7em;
	}

	.mailingList p {
		font-size: 1.2em;
	}

	.mailingList .submit {
		font-size: 1em;
	}

	#footer p {
		font-size: 1em;
	}
}

@media only screen and (max-width: 640px) {

	.headerContainer h1 {
		font-size: 2em;
		padding: 0 1em 0 0.4em;
	}

	.subtitle {
		font-size: 1.7em;
	}

	.contentBlock:first-child {
		padding-right: 2em;
		padding-left: 2em;
	}

	.contentBlock:last-child {
		padding-left: 2em;
		padding-right: 2em;
	}

	#ideasContainer {
		padding: 1.2em 1.5em;
	}

	.ideas h2 {
		font-size: 1.7em;
	}

	.ideas p {
		font-size: 1.2em;
	}

	.mailingList h2 {
		font-size: 1.7em;
	}

	.mailingList p {
		font-size: 1.2em;
	}

	.mailingList .submit {
		font-size: 1em;
	}

	#footer p {
		font-size: 1em;
	}

}

/* UIO Customization */
.flc-toc-tocContainer {
	width: 85%;
	margin: 0 auto;
	font-size: 1.5em;
}

.fl-prefsEditor-separatedPanel .fl-panelBar {
    background-color: transparent;
    color: #403E3C;
    border-bottom: none;
    box-shadow: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
}

.fl-prefsEditor-buttons-container {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    background-color: #fff;
    color: #403E3C;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin-right: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    right: 0;
}

.fl-prefsEditor-buttons {
	position: absolute;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    background-color: transparent;
    color: #403E3C;
    box-shadow: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide, .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    background-color: transparent;
    color: #403E3C;
    box-shadow: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.fl-theme-by body,
.fl-theme-yb body,
.fl-theme-wb body,
.fl-theme-bw body,
.fl-theme-lgdg body,
.fl-theme-by html,
.fl-theme-yb html,
.fl-theme-wb html,
.fl-theme-bw html,
.fl-theme-lgdg html {
	background-image: none;
}

.fl-theme-by #header,
.fl-theme-yb #header,
.fl-theme-wb #header,
.fl-theme-bw #header,
.fl-theme-lgdg #header {
	height: auto;
}

.fl-theme-bw .logoContainer {
  background-image: url("../images/idrc-logo-black.svg");
}

.fl-theme-by .logoContainer {
  background-image: url("../images/idrc-logo-black.svg");
}

.fl-theme-yb .logoContainer {
  background-image: url("../images/idrc-logo-yellow.svg");
}

.fl-theme-lgdg .logoContainer {
  background-image: url("../images/idrc-logo-grey.svg");
}

/* Transition setting for all elements to avoid the "flash" effect when switching contrast themes via alanharnum.ca */
* {
    transition-property: color, background-color;
    transition-duration: 1s;
}
