{{ define "title" }}{{ .Site.Title }} - {{ .Title }}{{ end }}

{{ define "main" }}
<div id="body">
    {{ partial "resourcesHeader.html" . }}
    {{ partial "navbar.html" . }}

    <div class="flc-toc-tocContainer toc"></div>

    <div class="resourcesListContainer">
    {{ .Content }}
    </div>

    {{ partial "footer.html" (dict "footerAdditional" "") }}
</div>

<script>
    $(document).ready(function () {
        $(".resourcesCardDescriptionToggle").on("click keydown", function(event) {
            if (event.type === "click"
                    || (event.type === "keydown"
                        && (event.keyCode === 13 || event.keyCode === 32))) {
                event.preventDefault();
                // Get current state
                var expanded = $(event.target).attr("aria-expanded") != "false";
                // Toggle the expanded state
                expanded = !expanded;
                // Set aria-expanded
                $(event.target).attr("aria-expanded", expanded);
                // TODO: Can I remove descriptionCollapsed and just use aria-expanded?
                // And set the class descriptionCollapsed
                $(event.target).closest(".resourcesCard").toggleClass("descriptionCollapsed", !expanded);
            }
        });
    });
</script>

{{ end }}
