{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<div id="body">
    {{ partial "resourcesHeader.html" . }}
    {{ partial "navbar.html" . }}

    <div class="flc-toc-tocContainer toc"></div>

    <div class="resourcesListContainer">

        {{ $coDesignTemplateImgOrig := .Resources.GetMatch "Co-design template-01.png" }}
        {{ .Scratch.Set "coDesignTemplateImg" ($coDesignTemplateImgOrig.Resize "550x") }}
        {{ $coDesignTemplateImg := .Scratch.Get "coDesignTemplateImg" }}

        <div class="resourcesIntroSection">
            <div class="resourcesIntroText">
                <h2>PLANNING YOUR CO-DESIGN ACTIVITY</h2>

                Including unique and diverse needs in the co-design process is an effective way to ensure our design adapts to a broader range of needs. However, involving citizens in a co-design process may seem expensive, time consuming, and overwhelming. This template provides a list of items to consider when planning, executing, facilitating, and reporting a co-design process based on your goals, context, and resources. It can be used in any format or order, and adapted for your own processes by adding, removing, and modifying its content. If you have any comments regarding this template or the following resources, please send us an email via <a href="mailto:cities@idrc.ocadu.ca">cities@idrc.ocadu.ca</a>.
            </div>
            <div class="resourcesCoDesignTemplateImg"><a href="{{ (.Resources.GetMatch "Co-design template.pdf").RelPermalink }}"><img src="{{ $coDesignTemplateImg.RelPermalink }}" alt="Co-design template"></a></div>
        </div>

        <hr>

        <div class="resourcesCardListIntro">A list of resources is provided to elaborate on each section of the template. These resources include best practices, reflections of our own co-design experiences, and practical tools to plan a co-design process. We encourage all those involved in co-design to contribute to these resources, share perspectives, methods, challenges, and learnings.</div>

        <h2>RESOURCE TYPES</h2>

        <ul class="resourcesLegend">
            <li class="perspective"><span role="img" aria-label="">{{ partial "perspective.svg" . }}</span> Perspectives</li><li class="reflection"><span role="img" aria-label="">{{ partial "reflection.svg" . }}</span> Reflections</li><li class="tool"><span role="img" aria-label="">{{ partial "tool.svg" . }}</span> Tools</li>
        </ul>

        {{ .Content }}
    </div>

    {{ partial "footer.html" (dict "footerAdditional" "") }}
</div>

<script>
    $(document).ready(function () {
        $(".resourcesCardDescriptionToggle").on("click keydown", function(event) {
            if (event.type === "click"
                    || (event.type === "keydown"
                        && (event.keyCode === 13 || event.keyCode === 32))) {
                event.preventDefault();
                // Get current state
                var expanded = $(event.target).attr("aria-expanded") != "false";
                // Toggle the expanded state
                expanded = !expanded;
                // Set aria-expanded
                $(event.target).attr("aria-expanded", expanded);
                // TODO: Can I remove descriptionCollapsed and just use aria-expanded?
                // And set the class descriptionCollapsed
                $(event.target).closest(".resourcesCard").toggleClass("descriptionCollapsed", !expanded);
            }
        });
    });
</script>

{{ end }}
