{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<div id="body">
    {{ partial "resourcesHeader.html" . }}
    {{ partial "navbar.html" . }}

    <main id="maincontent" tabindex="-1">

        <div class="resourcePageTitleSection {{ .Params.resources_format }}">
            <div class="resourcePageFormatIcon">{{ partial "resourceFormatIcon" . }}</div><div
            class="resourcePageTitleAndDescription">
                <h1>{{ .Title }}</h1>
                <div class="resourcePageFormatName">{{ partial "resourceFormatName" . }}</div>
                <div class="resourcePageDescription">{{ .Description }}</div>
            </div>
        </div>

        <div class="flc-toc-tocContainer toc"></div>

        <div class="resourcePageContentContainer">
            <div class="resourcePageContent">
                {{ .Content }}
            </div>
        </div>

        {{ if isset .Params "related_resources" }}
            <div class="resourcePageRelatedResources">
                <h2>Related Resources</h2>
                {{ range .Params.related_resources -}}
                    {{- $relatedResource :=  ($.GetPage .) -}}
                    {{- if $relatedResource -}}
                        <div class="resourcesCard {{$relatedResource.Params.resources_format}}">
                            <div class="resourcesCardHeader">{{partial "resourceFormatIcon" $relatedResource}}</div>
                            <div class="resourcesCardTitle"><a href="{{$relatedResource.RelPermalink}}">{{$relatedResource.Title}}</a></div>
                        </div>
                    {{- else -}}
                        {{ errorf "Related Resource %q not found, referenced from %q" . $.Title }}
                    {{- end -}}
                {{- end }}
            </div>
        {{ end }}

    </main>

    {{ partial "footer.html" (dict "footerAdditional" "") }}
</div>
{{ end }}
