{{ define "title" }}{{ .Site.Title }} - {{ .Title }}{{ end }}

{{ define "main" }}
<div id="body">
    {{ partial "resourcesHeader.html" . }}
    {{ partial "navbar.html" . }}

    <div class="resourcePageTitleSection {{ .Params.resources_format }}">
        <div class="resourcePageFormatIcon">{{ partial "resourceFormatIcon" . }}</div><div
        class="resourcePageTitleAndDescription">
            <h2>{{ .Title }}</h2>
            <div class="resourcePageDescription">{{ .Description }}</div>
        </div>
    </div>

    <div class="flc-toc-tocContainer toc"></div>

    <div class="resourcePageContentContainer">
        <div class="resourcePageContent">
            {{ .Content }}
        </div>
    </div>

    {{ if isset .Params "related_resources" }}
        <div class="resourcePageRelatedResources">
            <h3>Related Resources</h3>
            {{ range .Params.related_resources -}}
                {{- with ($.GetPage .) -}}
                    <div class="resourcesCard {{.Params.resources_format}}">
                        <div class="resourcesCardHeader">{{partial "resourceFormatIcon" .}}</div>
                        <div class="resourcesCardTitle"><a href="{{.RelPermalink}}">{{.Title}}</a></div>
                    </div>
                {{- end -}}
            {{- end }}
        </div>
    {{ end }}

    {{ partial "footer.html" (dict "footerAdditional" "") }}
</div>
{{ end }}
