{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<div id="body">
    {{ partial "blogHeader.html" . }}
    {{ partial "navbar.html" . }}

    <div id="ideasContent">
        <div class="flc-toc-tocContainer toc"></div>
        <div class="ideasContentContainer">
            <div class="ideasContentBlock">
                <span class="ideasDate">{{ .Date.Format "January 2, 2006" }}</span>
                <h2>{{ .Title }}</h2>
                {{ .Content }}
            </div>
        </div>
    </div>

    {{ partial "footer.html" (dict "footerAdditional" "") }}
</div>
{{ end }}
