<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ block "title" . }}{{ end }}</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../js/lib/infusion/src/framework/preferences/css/Enactors.css" />
    <link rel="stylesheet" type="text/css" href="../../js/lib/infusion/src/framework/preferences/css/PrefsEditor.css" />
    <link rel="stylesheet" type="text/css" href="../../js/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css" />
    <script src="../../js/lib/infusion/infusion-custom.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    {{ partial "uio.html" . }}

    {{ block "main" . }}{{ end }}

    {{ partial "initialise-uio.html" . }}
</body>
</html>
