{{ if .IsHome }}
    {{ .Scratch.Set "currentSection" "home" }}
{{ else if eq .Section "resources" }}
    {{ .Scratch.Set "currentSection" "resources" }}
{{ else if or (eq .Section "blog") (eq .Section "ideas") }}
    {{ .Scratch.Set "currentSection" "blog" }}
{{ end }}
{{ $currentSection := .Scratch.Get "currentSection" }}
<nav>
    <ul>
        {{- trim (partial "navbarEntry" (dict "Page" . "currentSection" $currentSection "entrySection" "home" "name" "HOME" "link" "/_index.html" )) " \n" | safeHTML -}}
        {{- trim (partial "navbarEntry" (dict "Page" . "currentSection" $currentSection "entrySection" "resources" "name" "RESOURCES" "link" "/resources/_index.md" )) " \n" | safeHTML -}}
        {{- trim (partial "navbarEntry" (dict "Page" . "currentSection" $currentSection "entrySection" "blog" "name" "BLOG" "link" "/blog/_index.md" )) " \n" | safeHTML -}}
    </ul>
</nav>
