<h2>{{ .Get "heading" }}</h2>

<div class="resourcesCardRow">
{{ range where .Page.Pages "Params.resources_section" (.Get "section")}}<div
    class="resourcesCard descriptionCollapsed {{ .Params.resources_format }}">
        <div class="resourcesCardHeader">{{partial "resourceFormatIcon" .}}</div>
        <div class="resourcesCardTitle"><a href="{{.RelPermalink}}">{{.Title}}</a></div>
        <div class="resourcesCardDescriptionToggleContainer"><div class="resourcesCardDescriptionToggle"></div></div>
        <div class="resourcesCardDescription">{{.Description}}</div>
    </div>{{ end }}
</div>
